#newsletter {
    background: url('../images/grey-bg.png') no-repeat top left;
    background-size: cover;
    padding: 0px 0 100px;
    font-family: 'Univers W01';
}
    .quote {
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 200px 0 50px;
        position: relative;
        color: #fff;
    }
    .quote blockquote {
        width: 90%;
        margin: 0 auto;
        padding: 70px 0 50px;
        font-size: 2em;
        border-left: none;
        letter-spacing: 1px;
    }
    .quote span {
        display: block;
        padding-top: 40px;
        font-size: .5em;
        font-weight: normal;
        letter-spacing: .5px;
    }
    .quote:after {
        content: '';
        display: block;
        width: 175px;
        margin: 0 auto;
        border-bottom: 1px solid #fff;
    }
    #instafeed {
        width: 80%;
        margin: 0 auto;
    }
        #instafeed a img {
            padding: 10px 0;
        }
    .insta-link {
        padding-bottom: 100px;
        text-align: center;
        text-decoration: none;
        font-size: 1.25em;
        vertical-align: middle;
        padding-bottom: 100px;
        font-weight: 200;
        letter-spacing: .5px;
    }
        .insta-link a, .insta-link a:hover {
            color: #fff;
         }
        .insta-link svg {
            vertical-align: middle;
            margin-right: 10px;
        }
    .caption {
        display: none;
    }
@media (min-width: 768px) {
    .quote {
        width: 80%;
        margin: 0 auto;
        max-width: 850px;
    }
        .quote blockquote {
            font-size: 2.25em;
        }
    #instafeed {
        display: table;        /* IE < 10, Opera *Presto* Desktop (Now dead) */
        display: -webkit-box;  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UCBrowser Android */
        display: -moz-box;     /* Firefox 2 - 27 (2009 Spec), UCMini Android */
        display: -ms-flexbox;  /* IE10 (2012 Syntax) */
        display: -webkit-flex; /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
        display: flex;
    }
        #instafeed a {
            padding: 5px;
        }
        #instafeed a img {
            padding: 0;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    .insta-link {
        padding-top: 10px;
    }
    .caption {
        position: absolute;
        top: 0;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        background: rgba(0,0,0,.6);
        height: 100%;
        width: 100%;
        display: table;        /* IE < 10, Opera *Presto* Desktop (Now dead) */
        display: -webkit-box;  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UCBrowser Android */
        display: -moz-box;     /* Firefox 2 - 27 (2009 Spec), UCMini Android */
        display: -ms-flexbox;  /* IE10 (2012 Syntax) */
        display: -webkit-flex; /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 200;
        font-size: 1.25em;
        opacity: 0;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }
        .caption p {
            width: 90%;
            margin: 0 auto;
        }
    #instafeed a:hover .caption {
        opacity: 1;
    }
}
@media (min-width: 1450px) {
    .quote {
        padding: 250px 0 100px;
    }
}