.cta-wrapper {
    background: #fff;
    font-family: 'Univers W01';
    -webkit-box-shadow: 0px 24px 40px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 24px 40px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 24px 40px -17px rgba(0,0,0,0.75);
}
    .card-image {
        background: url('../images/Video_still.jpg') no-repeat center;
        background-size: cover;
        display: block;
        padding: 30px;
        min-height: 400px;
        margin: 0; 
    }
    .card-desc {
      width: 80%;
      margin: 30px auto 0;
    }
      .card-desc h1 {
        text-transform: uppercase;
      }
      .card-desc h2 {
        font-size: 1.65em;
        font-weight: 200;
        line-height: 1.35em;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    .email-form {
      padding-bottom: 40px;
      padding-top: 40px;
    }
      .email-form .input-wrapper * {
        display: inline-block;
        vertical-align: middle;
      }
      .email-form .input-wrapper .guide-email-input {
        height: 25px;
      }
      .email-form input[type="email"] {
        border: none;
        border-bottom: 1px solid;
        min-width: 200px;
        width: 80%;
        color: #757575;
      }
      .email-form h4 {
        color: #757575;
        text-transform: uppercase;
      }
      .email-form .input-wrapper button {
        padding: 0;
        background: transparent;
        border: none;
      }
        .email-form .input-wrapper svg {
          width: 25px;
          height: 25px;
        }
          svg:not(:root) {
            overflow: hidden;
          }
          .icon-svg {
            display: inline-block;
            fill: currentColor;
            font-size: initial;
            height: 40px;
            width: 40px;
          }
      .email-form .checkbox-wrapper {
        padding-top: 20px;
      }
        .email-form label {
          display: inline-block;
          max-width: 100%;
          margin-bottom: 5px;
        }
        .email-form input[type="checkbox"] {
          display: none;
        }
        .email-form .checkbox-wrapper>* {
          display: inline;
          margin: 0;
          vertical-align: middle;
          font-weight: normal;
          font-size: 16px;
          font-weight: normal;
          line-height: 1.6em;
        }
        .email-form input[type="checkbox"]+.styled-checkbox:before {
          content: "☐";
          font-size: 30px;
        }
@media (min-width: 768px) {
  .cta-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-image, .card-desc {
    width: 50%;
    float: left;
  }
    .card-desc h2 {
        margin-bottom: 5px;
        margin-top: 5px;
      }
    .card-desc {
      padding: 0px 30px 0 30px;
    }
}
@media (min-width: 968px) {
    .card-desc h2 {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    .card-desc h1 {
      padding-top: 20px;
      margin-bottom: 10px;
    }
}